# ===== Entorno virtual=====
.venv/

# ===== Bytecode y caché de Python =====
__pycache__/
__pycache__
*.py[cod]
*$py.class

# ===== Artículos de empaque (opcionales) =====
*.egg-info/
*.dist-info/
build/
dist/

# ===== Cachés de herramientas de test/lint (hacia adelante) =====
.pytest_cache/
.ruff_cache/
.mypy_cache/

# ===== Ruido de editor / sistema operativo =====
.DS_Store
Thumbs.db

assets/__pycache__/

test_*.py
tests/
test/